*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.bg{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.bg .bg-top{
  width: 100%;
  height: 130px;
  background-color: #009688;
}

.bg .bg-main{
  width: 100%;
  height: calc(100% - 130px);
  background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
}

.container{
  min-width: 1100px;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.container .left-box{
  width: 35%;
  height: 100%;
}


.container .right-box{
  width: 65%;
  height: 100%;
}

.left-box .top-left,
.right-box .top-right{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
}

.left-box .disclaimer{
  width: 100%;
  height: 90px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #8edafc;
}

.left-box .search-box{
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #fafafa;
}

.left-box .main-left{
  width: 100%;
  height: calc(100% - 210px);
  overflow-y: scroll;
  background-color: #fff;
}

.right-box .main-right{
  width: 100%;
  height: calc(100% - 140px);
  overflow-y: scroll;
  background-image: url('../img/mine.jpg');
  background-size: contain;
}

.right-box .bottom-right{
  width: 100%;
  height: 70px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  background-color: #f3eeea;
}

.top-left .name-box,
.top-right .name-box,
.top-left .ico-box,
.top-right .ico-box{
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.top-left .ico-box{
  border-right: 2px solid #e1e1e1;
}

.name-box img{
  height: 90%;
  border-radius: 50%;
  margin-right: 5px;
}

.ico-box i{
  margin: 0 10px;
  font-size: 22px;
  color: #b1b1b1;
  cursor: pointer;
}

.disclaimer i{
  font-size: 20px;
  padding: 20px 18px;
  border-radius: 50%;
  background-color: #fff;
  color: #8edafc;
  cursor: pointer;
}

.disclaimer .notes{
  margin-left: 10px;
}

.notes a{
  color: gray;
  font-size: 14px;
}

.search-box .input-box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 1px 1px 1px #eaeaea;
}

.input-box i{
  height: 100%;
  padding: 5px 20px;
  border-right: 1px solid #e1dddf;
  color: #b6b9bb;
  cursor: pointer;
}

.input-box input{
  height: 100%;
  padding: 0 5px;
  flex-grow: 1;
  border: none;
  color: #dadbdc;
}

.main-left .user-box{
  width: 100%;
  height: 70px;
  padding: 8px 20px;
}

.main-left .user-box:hover{
  background-color: gray;
  cursor: pointer;
}

.main-left .user-box:nth-child(1n + 2){
  border-top: 1px solid lightgray;
}

.user-box img{
  height: 100%;
  border-radius: 50%;
}

.user-box span{
  vertical-align: top;
  margin-left: 10px;
}

.content-right p{
  color: gray;
  font-size: 14px;
}

.bottom-right i{
  font-size: 22px;
  color: #6b7376;
  cursor: pointer;
}

.bottom-right input{
  height: 90%;
  flex-grow: 1;
  margin: 0 20px;
  padding: 10px;
  border: none;
}