<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
  <!-- background -->
  <div class="bg">
    <div class="bg-top"></div>
    <div class="bg-main"></div>
  </div>
  <!-- /background -->
  <div class="container" id="app">
    <!-- left-content -->
    <div class="left-box">
      <!-- top -->
      <div class="top-left">
        <div class="name-box">
          <img :src="'img/avatar' + myUser.avatar + '.jpg'" :alt="myUser.name">
          <span> {{myUser.name}} </span>
        </div>
        <div class="ico-box">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="disclaimer">
        <i class="far fa-bell-slash"></i>
        <div class="notes">
          <h5>Ricevi notifiche di nuovi messaggi</h5>
          <a href="#">Attiva notifiche desktop</a>
        </div>
      </div>
      <div class="search-box">
        <div class="input-box">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
      </div>
      <!-- /top -->
      <!-- main -->
      <div class="main-left">
        <div class="user-box" v-for="(item, index) in contacts" @click="toActive(index)">
          <img :src="'img/avatar' + contacts[index].avatar + '.jpg'" :alt="contacts[index].name">
          <span> {{contacts[index].name}} </span>
        </div>
      </div>
      <!-- /main -->
    </div>
    <!-- /left-content -->
    <!-- right-content -->
    <div class="right-box">
      <!-- top -->
      <div class="top-right">
        <div class="name-box">
          <img :src="'img/avatar' + activeContact.avatar + '.jpg'" :alt="activeContact.name">
          <div class="content-right">
            <span> {{activeContact.name}} </span>
            <p>Ultimo accesso oggi alle</p>
          </div>
        </div>
        <div class="ico-box">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- /top -->
      <!-- main -->
      <div class="main-right">
        <div class="message-container">
          <div class="message" v-for="chat in activeContact.messages" :class="chat.status">
            <span> {{chat.text}} </span>
            <p class="date"> {{chat.date}} </p>
          </div>
        </div>
      </div>
      <!-- /main -->
      <!-- bottom -->
      <div class="bottom-right">
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Scrivi un messaggio" v-model="newText" @keyup.enter="addMessage">
        <i class="fas fa-microphone"></i>
      </div>
    </div>
    <!-- /bottom -->
    <!-- /right-content -->
  </div>
  <script src="lib/moment/moment.js"></script>
  <script src="js/script.js"></script>
</body>
</html>